<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.html') %>
</head>
<body>
    <%- include('partials/navigation.html') %>
    
    <section class="contenedor1 services">
        
        <img src="img/logobot2.png" alt="">
        <div class="box-skills">
            <h5>Si necesitas ayuda puedes consultar los siguientes numeros</h5>
            <h4><i aria-hidden="true"></i> Saptel</h4>
            <h6>(55)5259-8121</h6>
            <h4><i aria-hidden="true"></i> Linea Uam</h4>
            <h6>(55)5804-4879</h6>
            <h6>(55)5804-644</h6>
            <h4><i aria-hidden="true"></i> Atención psicologica a distancia de la Unam</h4>
            <h6>(55)5025-0855</h6>
            <h4><i aria-hidden="true"></i> Instituto nacional de psiquiatria</h4>
            <h6>(55)5655-3080</h6>
            <h6>(800)953-1704</h6>
        </div>
    </section>


    <%- include('partials/footer.html') %>
</body>
</html>